<div class="video-background">
    <div class="video-foreground">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/d9XxKYBGVlM?autoplay=1&loop=1&rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<br><br>

<div>
  <img src="/img/logo.png"></img><br><br>
  <button id="btn_login" class="btn btn-lg" name="login" action="/login"><a href="/login">Log-in</a></button><br><br>
  <button id="btn_signup" class="btn btn-lg" name="signup"><a href="/signup">Sign-up</a></button>
</div>
