<div class="video-background">
  <div class="video-foreground">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/d9XxKYBGVlM?autoplay=1&loop=1&rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div id="block_login">
  <form class="form-group" id="login_form" action="/login" method="post">
    <input type="text" name="username" id="username" placeholder="username"><br><br>
    <input type="password" name="password" id="password" placeholder="password"><br><br>
    <button type="submit" class="btn" id="btn_login" name="button">Login</button> <a id="btn_signup" class="btn" href="/signup">Signup</a>
  </form>
</div>
</body>
