<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps Multiple Markers</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv4wMg8sE9-0TfMyw8paUY6Sn16uPuGPM&callback=initMap"
          type="text/javascript"></script>
</head>
<body>
  <div id="map" style="width: 1130px; height: 600px;"></div>

  <script type="text/javascript">
    var delay = 100;
    var infowindow = new google.maps.InfoWindow();
    var latlng = new google.maps.LatLng(22.2808, 114.1557);
    var mapOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.TERRAIN
    }
    var geocoder = new google.maps.Geocoder();
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    var bounds = new google.maps.LatLngBounds();

    function geocodeAddress(address, next) {
      geocoder.geocode({address:address}, function (results,status)
        {
           if (status == google.maps.GeocoderStatus.OK) {
            var p = results[0].geometry.location;
            var lat=p.lat();
            var lng=p.lng();
            createMarker(address,lat,lng);
          }
          else {
             if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
              nextAddress--;
              delay++;
            } else {
                          }
          }
          next();
        }
      );
    }
   function createMarker(add,lat,lng) {
     var contentString = add;
     var marker = new google.maps.Marker({
       position: new google.maps.LatLng(lat,lng),
       map: map,
             });

    google.maps.event.addListener(marker, 'click', function() {
       infowindow.setContent(contentString);
       infowindow.open(map,marker);
     });

     bounds.extend(marker.position);

   }

  //
  var locations = <%=@arr%>;
  
  //

  var nextAddress = 0;
  function theNext() {
    if (nextAddress < locations.length) {
      setTimeout('geocodeAddress("'+locations[nextAddress]+'",theNext)', delay);
      nextAddress++;
    } else {
      map.fitBounds(bounds);
    }
  }
  theNext();
  </script>
</body>
